{{set . "title" "Builds Index"}}
{{template "header.html" .}}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="GoGo Build" src="">
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="">
            {{template "flash.html" .}}
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                 <h3 class="panel-title">Launch a build</h3>
            </div>
            <div class="panel-body">
                {{with .project}}
                <form class="form-inline" action="/projects/{{.Name}}/build/" method="post">
                    <a href="/projects/{{.Name}}/builds">{{.Name}}</a>
                    <select class="form-control" name="sys">
                        {{range $key, $value := .Configuration.BuildInstructions}}
                        <option value="{{$key}}">{{$key}}</option>
                        {{end}}
                        <option value="all">all</option>
                    </select>
                    <select class="form-control" name="commit">
                        <option value="master">master</option>
                        {{range .ReviewManagerInstance.GetOpenChanges}}
                        <option value="{{.}}">{{.}}</option>
                        {{end}}
                        <option value="updateWorker">Update Builder</option>
                    </select>
                    <input class="btn btn-success" type="submit" value="Build" />
                </form>
                {{end}}
            </div>
        </div>
        <table class="table">
            <th>Date</th>
            <th>Build Duration</th>
            <th>Update Duration</th>
            <th>Refs</th>
            <th>State</th>
            <th>Action</th>

            {{range .builds}}
            {{if eq .State.String "Success"}}
            <tr class="success">
            {{else if eq .State.String "FallbackSuccess"}}
            <tr class="warning">
            {{else if eq .State.String "Fail"}}
            <tr class="danger">
            {{else}}
            <tr class="">
            {{end}}
                <td><a href="/projects/{{.ProjectToBuild.Name}}/builds/{{.ID.Hex}}">{{.Date.Format "2 Jan 2006 15:04"}}</a></td>
                <td>{{.Duration}}</td>
                <td>{{.UpdateWorkerDuration}}</td>
                <td>{{.Commit}}</td>
                <td>{{.State}}</td>
                <td>
                {{if .IsDownloadable}}
                <input class="btn btn-primary" type="button" onclick="location.href='/projects/{{.ProjectToBuild.Name}}/builds/{{.ID.Hex}}/download';" value="Download" />
                {{end}}
                {{if .IsRetryable}}
                <input class="btn btn-warning" type="button" onclick="location.href='/projects/{{.ProjectToBuild.Name}}/builds/{{.ID.Hex}}/retry';" value="Retry" />
                {{end}}
                </td>
            </tr>
            {{end}}
        </table>
    </div>
    <input type="hidden" id="refreshed" value="no">
<script type="text/javascript">
onload=function(){
var e=document.getElementById("refreshed");
if(e.value=="no")e.value="yes";
else{e.value="no";location.reload();}
}
</script>
</div>
{{template "footer.html" .}}
