{{set . "title" "Projects Index"}}
{{template "header.html" .}}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="GoGo Build" src="">
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="">
            {{template "flash.html" .}}
        </div>
    </div>
    <div class="row col-md-9">
        <div class="list-group">
        {{range .projectsList}}
            <a href="/projects/{{.Name}}/builds" class="list-group-item" style="text-align:center">{{.Name}}</a>
        {{end}}
        </div>
    </div>
</div>

{{template "footer.html" .}}
